@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

main {
  font-family: "Lato", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
  margin: 0;
  padding-top: 5px;
}

.all-events {
  display: flex;
}

.event {
  padding: 0 25px;
}

.event h3 {
  font-size: 28px;
  padding-bottom: 5px;
}

.event ul {
  list-style-type: ">";
}

.event ul li {
  padding-left: 5px;
  padding-bottom: 5px;
  font-size: 20px;
}

.event ul li a {
  color: black;
  text-decoration: none;
}

.event ul li a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .all-events {
    flex-direction: column;
  }
  .event {
    padding-bottom: 25px;
  }
}
