main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
  margin: 0;
}

.content {
  width: 450px;
  padding-right: 25px;
}

#event-title {
  text-align: center;
  padding-bottom: 10px;
}

#event-img {
  width: 100px;
}

.event {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.event-info h3 {
  padding-bottom: 5px;
}

.event-info p {
  padding-bottom: 5px;
}

.event-details {
  padding-top: 25px;
}

.event-details p {
  padding-top: 5px;
  padding-left: 10px;
}

.event-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.event-buttons a {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  background-color: #3498db;
  border: 5px solid #3498db;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 10px;
  width: 100%;
}

@media (max-width: 600px) {
  .main {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .event {
    flex-direction: column;
  }
}
