<header>
    <div class="header-content">
      <a href="/"
        ><img class="header-logo" src="/media/logo.png" alt="logo"
      /></a>

      <nav class="user-nav-buttons">
        <a href="./newConnection.html">Start a new connection</a>
        <a href="#">Login</a>
        <a href="#">Sign Up</a>
      </nav>
    </div>
    <hr />

    <nav>
      <a href="/connections">Connections</a>
    </nav>
  </header>