<header>
    <div class="header-content">
      <a href="/"
        ><img class="header-logo" src="/media/logo.png" alt="logo"
      /></a>

      <nav class="user-nav-buttons">
        <a href="/connections/new">Start a new connection</a>
        <a href="/users/new">Register</a>
        <a href="/users/login">Login</a>
        <a href="/users/profile">Profile</a>
        <a href='/users/logoff'>Logout</a>
      </nav>
    </div>
    <hr />

    <nav>
      <a href="/connections">Connections</a>
    </nav>
  </header>
  <% if(errorMessages.length > 0) {
    errorMessages.forEach(message => { %>
        <div class="error"><%= message %></div>
    <% });
  } %>
  <% if(successMessages.length > 0) {
    successMessages.forEach(message => { %>
        <div class="success"><%= message %></div>
    <% });
  } %>