<%- include('./partials/head.ejs') %>
        <title>About</title>
    </head>
    <body>
        <%- include('./partials/header.ejs') %>
        <main class="main-content">
            <div id="aboutAndContact-page">
                <h3>--- About ---</h3>
                <p>this website was created to allow the Neighborhood to commincate with the people</p>
                <p>Developed by Michael Mejia Rodriguez</p>
                <p>For UNCC class: ITIS 5166</p>
                <p>Welcome All!</p>
            </div>
        </main>

    <%- include('./partials/footer.ejs') %>