<%- include('./partials/head.ejs') %>
        <title>About</title>
    </head>
    <body>
        <%- include('./partials/header.ejs') %>
        <main>
            <h3>--- About ---</h3>
            <p>this website was created to allow the Neighborhood to commincate with the people</p>
            <p>Welcome All!</p>
        </main>

    <%- include('./partials/footer.ejs') %>