<%- include('./partials/head.ejs') %>
        <title>Contact</title>
    </head>
    <body>
        <%- include('./partials/header.ejs') %>
        <main class="main-content">
            <div id="aboutAndContact-page">
                <h3>--- Contact US ---</h3>
                <p>Address: 1111 Hello Dr., Charlotte, NC 28227</p>
                <p>Phone: (704) 555-5555</p>
            </div>
        </main>

    <%- include('./partials/footer.ejs') %>