<%- include('./partials/head.ejs') %>
        <title>Contact</title>
    </head>
    <body>
        <%- include('./partials/header.ejs') %>
        <main>
                <h2>Contact US</h2>
                <p>Address: 1111 Hello Dr., Charlotte, NC 28227</p>
                <p>Phone: (704) 555-5555</p>
        </main>

    <%- include('./partials/footer.ejs') %>