<%- include('./partials/head.ejs') %>
    <title>Neighborhood Events</title>
  </head>

  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="main-content">
        <div class="left-content">
          <div>
            <h2>Welcome to The Neighborhood Connections site.</h2>
            <p>
              Attend and create neighborhood events to connect with people or
              look and see what events are going on now. From garage sales, pool
              parties, bbq, and other events. Come check it out!!
            </p>
            <p>Check out the Connections section to browse available Events!</p>
          </div>
          <div>
            <img src="/media/bbq_party.webp" alt="barbeque party" />
          </div>
        </div>
        <div class="right-content">
          <img class="pool" src="/media/pool_party.jpg" alt="pool party" />
          <img
            src="/media/monthly_gathering.jpg"
            alt="neighborhood gathering"
          />
        </div>
      </div>
    </main>
<%- include('./partials/footer.ejs') %>