<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/connection.css" />
    <title>Event</title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <div class="content">
        <h2 id="event-title">Pizza Party</h2>
        <div class="event">
          <div id="event-img-container">
            <img id="event-img" src="./media/pizza.png" alt="pizza party" />
          </div>
          <div class="event-info">
            <h3>Hosted by: John Doe</h3>
            <p>Thrusday, August 29, 2021</p>
            <p>5:30pm - 6:30pm</p>
            <p>location of event</p>
          </div>
        </div>
        <div class="event-details">
          <h3>Details</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio
            officiis molestiae alias cum aspernatur reprehenderit cumque est in
            quis consequatur eveniet non aliquam dolorum molestias animi, soluta
            id sequi eligendi!
          </p>
        </div>
        <div class="event-buttons">
          <a href="./connections.html">Update</a>
          <a href="./connections.html">Delete</a>
        </div>
      </div>
    </main>
<%- include('../partials/footer.ejs') %>
